<h1 id='logo'>
  <%= link_to image_tag("ovmtb_block.png", :width => 500, :border => 0), refinery.root_path %>
  <div style="padding-top: 10px;">
    [ Oro Valley High School Cycling ]
  </div>
</h1>
<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
