/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

#page_container {
  padding: 10px;
}

#body {
  float: left;
  width: 60%;
  background: white;
  color: #333;
  padding: 10px;
}

#side_body {
  float: right;
  width: 38%;
  background: white;
  color: #333;
  padding: 10px;
}

#menu ul {
  list-style: none;
  padding: 0px;
  li {
    float: left;
    margin-right: 10px;
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
    }
    &.selected a, a:hover {
      background: #FFFF00;
    }
  }
}
